parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\ConnectionInterface\\:\\:getDriverName\\(\\)\\.$#"
			count: 1
			path: src/Exceptions/DatabaseNotSupported.php

		-
			message: "#^Method Spatie\\\\Health\\\\Notifications\\\\CheckFailedNotification\\:\\:transParameters\\(\\) should return array\\<string, string\\> but returns array\\<string, mixed\\>\\.$#"
			count: 1
			path: src/Notifications/CheckFailedNotification.php

		-
			message: "#^Unable to resolve the template type TKey in call to function collect$#"
			count: 1
			path: src/ResultStores/ResultStores.php

		-
			message: "#^Unable to resolve the template type TValue in call to function collect$#"
			count: 1
			path: src/ResultStores/ResultStores.php

		-
			message: "#^Property Spatie\\\\Health\\\\ResultStores\\\\StoredCheckResults\\\\StoredCheckResults\\:\\:\\$storedCheckResults \\(Illuminate\\\\Support\\\\Collection\\<int, Spatie\\\\Health\\\\ResultStores\\\\StoredCheckResults\\\\StoredCheckResult\\>\\) does not accept Illuminate\\\\Support\\\\Collection\\<int, Spatie\\\\Health\\\\ResultStores\\\\StoredCheckResults\\\\StoredCheckResult\\>\\|Illuminate\\\\Support\\\\Collection\\<TKey of \\(int\\|string\\), TValue\\>\\.$#"
			count: 1
			path: src/ResultStores/StoredCheckResults/StoredCheckResults.php

		-
			message: "#^Unable to resolve the template type TKey in call to function collect$#"
			count: 2
			path: src/ResultStores/StoredCheckResults/StoredCheckResults.php

		-
			message: "#^Unable to resolve the template type TValue in call to function collect$#"
			count: 2
			path: src/ResultStores/StoredCheckResults/StoredCheckResults.php
