parameters:
	ignoreErrors:
		-
			message: "#^Method Spatie\\\\Health\\\\Checks\\\\Checks\\\\PingCheck\\:\\:headers\\(\\) has parameter \\$headers with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Checks/Checks/PingCheck.php

		-
			message: "#^Property Spatie\\\\Health\\\\Checks\\\\Checks\\\\PingCheck\\:\\:\\$headers type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Checks/Checks/PingCheck.php

